<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero
    nesciunt minus fugiat architecto. Quo repudiandae eveniet, earum velit
    laudantium aut ipsam quis sint. Sed, incidunt quia. Assumenda, dolorem
    facilis?
  </p>
</main>
