<main>
  <h1>Liste des articles</h1>
  <nav>
    <button>Rafraichir</button>
    <button>Ajouter</button>
  </nav>
  <table>
    <caption>
      Liste des articles
    </caption>
    <thead>
      <tr>
        <th scope="row" class="name">Nom</th>
        <th scope="row" class="price">Prix</th>
        <th scope="row" class="qty">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">Marteau</td>
        <td class="price">2.40€</td>
        <td class="qty">110</td>
      </tr>
      <tr>
        <td class="name">Tournevis cruciforme</td>
        <td class="price">2.40€</td>
        <td class="qty">110</td>
      </tr>
      <tr>
        <td class="name">Marteau</td>
        <td class="price">12.40€</td>
        <td class="qty">110</td>
      </tr>
      <tr>
        <td class="name">Marteau</td>
        <td class="price">2.40€</td>
        <td class="qty">110</td>
      </tr>
    </tbody>
  </table>
</main>
