<main>
  <h1>Liste des articles</h1>
  <nav>
    <button>Rafraichir</button>
    <button routerLink="/stock/new">Ajouter</button>
  </nav>
  <table>
    <caption>
      Liste des articles
    </caption>
    <thead>
      <tr>
        <th scope="row" class="name">Nom</th>
        <th scope="row" class="price">Prix</th>
        <th scope="row" class="qty">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of articleService.articles">
        <td class="name">{{ a.name }}</td>
        <td class="price">{{ a.price }}€</td>
        <td class="qty">{{ a.qty }}</td>
      </tr>
    </tbody>
  </table>
</main>
