button {
  margin-right: 0.5em;
}

caption {
  display: none;
}

nav {
  padding-bottom: 1em;
}

table {
  border-collapse: collapse;
  border: 0.1em solid #bbb
}

thead {
  background: #bbb;
}

th, td {
  text-align: left;
  padding: 0.5em 1em;
}

tbody tr:nth-child(even) {
  background: #eee;
}

tbody tr:hover {
  background: #ddd;
}

tbody tr.selected {
  background: #ccc;
}

td.qty, td.price {
  text-align: right;
}
