<main>
  <h1>Ajouter un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Nom</div>
      <input type="text" formControlName="name" appAutofocus />
      <div class="error">
        <div *ngIf="f.controls['name'].invalid">Oops... faut mettre un nom ;)</div>
      </div>
    </label>
    <label>
      <div>Prix</div>
      <input type="number" min="0" step="0.01" formControlName="price" />
    </label>
    <label>
      <div>Quantité</div>
      <input type="number" min="0" formControlName="qty" />
    </label>
    <button [disabled]="f.invalid" class="primary" type="submit">Créer</button>

    <!-- {{ f.value | json }} -->
  </form>
</main>
