/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  max-width: 50em;
  padding: 0.5em;
}

h1 {
  text-align: center;
}

input {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  width: 100%;
}

button {
  padding: 0.5em 1em;
  background: #eee;
  border: 0.1em solid #eee;
  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      background: #ddd;
      border-color: #ddd;
    }
    &:active {
      background: #ccc;
      border-color: #ccc;
    }

    &.primary {
      background: #333;
      border: 0.1em solid #333;
      color: white;
      &:hover {
        background: #444;
        border-color: #444;
      }
      &:active {
        background: #555;
        border-color: #555;
      }
    }
  }
}
